.sectionRegistro {
    &__container {
        display: grid;
        justify-content: center;
    }

    &__img {
        grid-area: img;
        object-fit: cover;
        border-radius: $bordesImagenes;
        @include dimensiones (100%, 100%);
    }

    &__form {
        grid-area: form;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__title {
        text-align: center;
        color: $colorTitulos;
        @include marginTitle (2%, 2%);
    }

    &__parrafo {
        text-align: center;
        color: $colorParrafo;
        margin: 2%;
    }

    &__resaltado {
        color: $colorHiperVinculo;
    }

    &__datos {
        border-radius: $bordesForm;
        transition: $tiempoAnimacion;
        @include form (1%, 5px, none);
    }

    &__datos:hover {
        background-color: $colorForm;
    }

    &__legales {
        color: $colorParrafo;
        @include marginTitle (1%, 1%);
    }

    &__link {
        text-decoration: none;
        color: $colorParrafo;
        :hover {
            color: $colorHiperVinculo;
        }
    }

    &__containerBotones {
        display: flex;
        justify-content: space-evenly;
        margin: 2%;
    }

    &__boton {
        border-style: none;
        border-radius: $bordesBotones;
        padding: $paddingBotonesChicos;
        transition: $tiempoAnimacion;
    }

    &__boton:hover {
        cursor: pointer;
        background-color: $sombreado;
        border-left: $colorBordesBotones;
        border-right: $colorBordesBotones;
    }
}

@media only screen and (max-width: 479px) {
    .sectionRegistro {
        &__img {
            opacity: 0.5;
            z-index: -1;
        }

        &__title {
            font-size: $tituloChico;
        }

        &__parrafo {
            font-size: $parrafoChico;
        }

        &__datos {
            @include dimensionForm (50vw, 7vh);
        }

        &__legales {
            font-size: $parrafoChico;
        }

        &__containerBotones {
            width: 60%;
        }

        &__boton {
            @include dimensionForm (25vw, 5vh);
        }
    }
}

@media only screen and (min-width: 480px) {
    .sectionRegistro {
        &__img {
            opacity: 0.5;
            z-index: -1;
        }

        &__title {
            font-size: $tituloMediano;
        }

        &__parrafo {
            font-size: $parrafoMediano;
        }

        &__datos {
            @include dimensionForm (40vw, 5vh);
        }

        &__legales {
            font-size: $parrafoMediano;
        }

        &__containerBotones {
            width: 60%;
        }

        &__boton {
            @include dimensionForm (25vw, 3vh);
        }
    }
}

@media only screen and (min-width: 768px) {
    .sectionRegistro {
        &__container {
            grid-template-columns: 70% 30%;
            grid-template-rows: auto;
            grid-template-areas: "img form";
        }

        &__img {
            opacity: 1;
        }

        &__title {
            font-size: $tituloGrande;
        }

        &__parrafo {
            font-size: $parrafoGrande;
        }

        &__datos {
            @include dimensionForm (15vw, 3vh);
        }

        &__legales {
            font-size: $parrafoGrande;
        }

        &__containerBotones {
            width: 75%;
        }

        &__boton {
            @include dimensionForm (10vw, 2vh);
        }
    }
}